
@font-face {
  font-family: "Norse Bold";
  src: url("images/Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body{
    margin:0px;
    display:flex;
}
.cont{
    display:flex;
    width:60vw;
    flex-direction: row;
    box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.25);
    justify-content:space-evenly;
    
}
input{
    width:170px;
    height:16px;
    border-radius:4px;
    border: 1px solid #E5E7EB;
       margin-bottom:20px;
}
.mini label{
    font-size:12px;
    font-weight:bold;
}
input:focus{
    outline: none;
    border:2px solid rgb(46, 123, 206);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
input:invalid{
     border:1px solid rgb(189, 42, 42);
}
button{
    background-color:rgb(65, 104, 65);
    height:36px;
    width:170px;
    border-radius:3px;
    margin-left:50px;
    color:white;
    border:none;
}
button:hover{
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
     cursor: pointer;
}
a{
     color:rgb(46, 75, 46);
     font-weight:bold;
     text-decoration: none;;
}
.col1{
    display:flex;
    overflow:hidden;
    min-height:100vh;
    width:40%;
    background-image:url("/images/background.avif");
    background-size: cover; 
}
form{
    padding:10px;
}
.logoholder{
   background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    height:150px;
    position:relative;
    top:200px;
    display:flex;
}
#supe{
    max-height:100%;
   margin-left:70px;
}
#logotxt{
    color:gold;
    font-size: 80px;
    font-family:"Norse Bold";
    margin: auto;
}
.quote h1{
    text-align:center;
    margin:20px;
     font-family:"Lato";
}
.quote span{
    margin-left:390px;
    font-size:20px;
    font-style:italic;
}
#pun{
    display:none;
}
.col2{
    width: 50%;
}
legend{
    font-size:30px;
    font-weight:bolder;
    font-family:"Lato";
}